vdsm/rest/templates/api.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
           jaxb:version="2.1" jaxb:extensionBindingPrefixes="xjc">

  <xs:annotation>
    <xs:appinfo>
      <jaxb:globalBindings generateIsSetMethod="true"/>
    </xs:appinfo>
  </xs:annotation>

  <!-- Links -->
  <xs:element name="keyValuePair" type="KeyValuePair"/>

  <xs:complexType name="KeyValuePair">
    <xs:sequence>
        <xs:element name="key" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="linkCapabilities" type="LinkCapabilities"/>

  <xs:complexType name="LinkCapabilities">
    <xs:sequence>
    <xs:element name="searchable" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="detailedLink" type="DetailedLink"/>

  <xs:complexType name="DetailedLink">
    <xs:complexContent>
      <xs:extension base="Link">
        <xs:sequence>
          <xs:element ref="request" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="response" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="linkCapabilities" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

 <xs:element name="detailedLinks" type="DetailedLinks"/>

  <xs:complexType name="DetailedLinks">
    <xs:sequence>
      <xs:annotation>
        <xs:appinfo>
          <jaxb:property name="links"/>
        </xs:appinfo>
      </xs:annotation>
      <xs:element type="DetailedLink" name="link" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="link" type="Link"/>

  <xs:complexType name="Link">
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="rel" type="xs:string"/>
  </xs:complexType>

  <!-- API -->

  <xs:element name="api" type="API"/>

  <xs:complexType name="API">
    <xs:complexContent>
      <xs:extension base="BaseResource">
        <xs:sequence>
          <xs:element ref="product_info"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Faults -->

  <xs:element name="fault" type="Fault"/>

  <xs:complexType name="Fault">
    <xs:sequence>
      <xs:element name="reason" type="xs:string"/>
      <xs:element name="detail" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Actions -->

  <xs:group name="ActionParameterGroup">
    <xs:sequence>
      <!-- For VM ticket -->
      <xs:element name="password" type="xs:string" minOccurs="0"/>
      <xs:element name="timeout" type="xs:int" minOccurs="0"/>
      <xs:element name="previous" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:group>

  <xs:group name="ActionResponseGroup">
    <xs:sequence>
    </xs:sequence>
  </xs:group>

  <!-- Represents a potentially asynchronous operation -->

  <xs:element name="action" type="Action"/>

  <xs:complexType name="Action">
    <xs:complexContent>
      <xs:extension base="BaseResource">
        <xs:sequence>
         <!-- The following are used by the client
              when initiating an operation -->
            <xs:group ref="ActionParameterGroup"/>

          <!-- The following, and the BaseResource href/id attributes
               are used by the server when responding after an
               asynchronous operation or status query -->
            <xs:element ref="status" minOccurs="0" maxOccurs="1"/>
            <!-- Fault describing failure case -->
            <xs:element ref="fault" minOccurs="0" maxOccurs="1"/>
            <!-- action-specific response(s) for the operation
                 (if required) -->
            <xs:group ref="ActionResponseGroup"/>
            <!-- also link to original action (rel="replay") and
                 parent resource (rel="parent") -->
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Actions">
    <xs:sequence>
      <xs:annotation>
        <xs:appinfo>
            <jaxb:property name="Links"/>
        </xs:appinfo>
      </xs:annotation>
      <xs:element ref="link" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="status" type="Status"/>

  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element name="code" type="xs:int" minOccurs="1" maxOccurs="1"/>
      <xs:element name="state" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="task" minOccurs="0" maxOccurs="1"/>
      <xs:element name="detail" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Represents an asynchronous resource creation -->

  <xs:element name="creation" type="Creation"/>

  <xs:complexType name="Creation">
    <xs:complexContent>
      <xs:extension base="BaseResource">
        <xs:sequence>
          <xs:element ref="status" minOccurs="0" maxOccurs="1"/>
          <!-- Fault describing failure case -->
          <xs:element ref="fault" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="creation_states" type="CreationStates"/>

  <xs:complexType name="CreationStates">
    <xs:sequence>
      <xs:element name="creation_state" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="CreationStates"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Version numbers -->

  <xs:element name="version" type="Version"/>

  <xs:complexType name="Version">
    <xs:sequence/>
    <xs:attribute name="major" type="xs:unsignedShort">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property generateIsSetMethod="false"/>
          </xs:appinfo>
        </xs:annotation>
    </xs:attribute>
    <xs:attribute name="minor" type="xs:unsignedShort">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property generateIsSetMethod="false"/>
          </xs:appinfo>
        </xs:annotation>
    </xs:attribute>
    <xs:attribute name="build" type="xs:unsignedShort">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property generateIsSetMethod="false"/>
          </xs:appinfo>
        </xs:annotation>
    </xs:attribute>
    <xs:attribute name="revision" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property generateIsSetMethod="false"/>
          </xs:appinfo>
        </xs:annotation>
    </xs:attribute>
    <xs:attribute name="full_version" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property generateIsSetMethod="false"/>
          </xs:appinfo>
        </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="product_info" type="ProductInfo"/>

  <xs:complexType name="ProductInfo">
    <xs:complexContent>
      <xs:extension base="BaseResource">
        <xs:sequence>
          <xs:element name="vendor" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="version" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Common to all resources -->

  <xs:complexType name="BaseResource">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="actions" type="Actions" minOccurs="0"/>
      <xs:element name="creation_status" type="Status" minOccurs="0"/>
      <!-- also rel="creation_status" link for monitoring async creation -->
      <!-- further link relation types may be defined by specific resources -->
      <xs:element ref="link" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="Links"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="BaseResources">
    <xs:sequence>
      <xs:element name="total" type="xs:unsignedInt" minOccurs="0"/>
      <xs:element name="active" type="xs:unsignedInt" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Option">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
    <xs:attribute name="type" type="xs:string"/>
  </xs:complexType>

  <xs:element name="options" type="Options"/>

  <xs:complexType name="Options">
    <xs:sequence>
      <xs:element name="option" type="Option" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="Options"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- storageconnectionrefs -->
  <xs:element name="storageconnectionref" type="StorageConnectionRef"/>
  <xs:element name="storageconnectionrefs" type="StorageConnectionRefs"/>

  <xs:complexType name="StorageConnectionRefs">
    <xs:complexContent>
    <xs:extension base="BaseResources">
      <xs:sequence>
          <xs:annotation>
            <xs:appinfo>
              <jaxb:property name="StorageConnectionRef" />
            </xs:appinfo>
          </xs:annotation>
          <xs:element ref="storageconnectionref" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StorageConnectionRefParams">
    <xs:sequence>
      <xs:element name="path" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="target" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="iface" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="credentials" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="spec" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="vfsType" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="options" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="export" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="retrans" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="timeout" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="version" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StorageConnectionRef">
    <xs:complexContent>
      <xs:extension base="BaseResource">
        <xs:sequence>
          <xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="1" />
          <xs:element name="parameters" type="StorageConnectionRefParams" minOccurs="1" maxOccurs="1"/>
          <xs:element name="lastError" minOccurs="1" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="code" type="xs:int" minOccurs="1" maxOccurs="1" />
                <xs:element name="message" type="xs:string" minOccurs="1" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="connected" type="xs:boolean" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- storagedomains -->
  <xs:element name="storagedomain" type="StorageDomain"/>
  <xs:element name="storagedomains" type="StorageDomains"/>

  <xs:complexType name="StorageDomains">
    <xs:complexContent>
    <xs:extension base="BaseResources">
      <xs:sequence>
          <xs:annotation>
            <xs:appinfo>
              <jaxb:property name="StorageDomains" />
            </xs:appinfo>
          </xs:annotation>
          <xs:element ref="storagedomain" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StorageDomain">
    <xs:complexContent>
      <xs:extension base="BaseResource">
        <xs:sequence>
          <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
          <xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1" />
          <xs:element name="class" type="xs:string" minOccurs="1" maxOccurs="1" />
          <xs:element name="role" type="xs:string" minOccurs="1" maxOccurs="1" />
          <xs:element name="remotePath" type="xs:string" minOccurs="1" maxOccurs="1" />
          <xs:element name="version" type="xs:int" minOccurs="1" maxOccurs="1" />
          <xs:element name="master_ver" type="xs:int" minOccurs="1" maxOccurs="1" />
          <xs:element name="lver" type="xs:int" minOccurs="1" maxOccurs="1" />
          <xs:element name="spm_id" type="xs:int" minOccurs="1" maxOccurs="1" />
          <xs:element ref="storagepool" minOccurs="0" maxOccurs="1"/>
          <xs:element name="link" type="Link" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

<!-- RSDL -->

  <xs:element name="url" type="Url"/>

  <xs:complexType name="Url">
    <xs:sequence>
      <xs:element ref="parameters_set" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="ParametersSets"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="body" type="Body"/>

  <xs:complexType name="Body">
    <xs:sequence>
      <xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="parameters_set" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="ParametersSets"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="request" type="Request"/>

  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element name="http_method" type="HttpMethod" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="headers" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="url" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="body" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="HttpMethod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GET"/>
      <xs:enumeration value="POST"/>
      <xs:enumeration value="PUT"/>
      <xs:enumeration value="DELETE"/>
      <xs:enumeration value="OPTIONS"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="response" type="Response"/>

  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="parameter" type="Parameter"/>

  <xs:complexType name="Parameter">
    <xs:complexContent>
      <xs:extension base="BaseResource">
        <xs:sequence>
          <xs:element name="value" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="parameters_set" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="required" type="xs:boolean"/>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="context" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="header" type="Header"/>

  <xs:complexType name="Header">
    <xs:complexContent>
      <xs:extension base="BaseResource">
        <xs:sequence>
          <xs:element name="value" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="mandatory" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="headers" type="Headers"/>

  <xs:complexType name="Headers">
    <xs:sequence>
      <xs:element ref="header" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="Headers"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="parameters_set" type="ParametersSet"/>

  <xs:complexType name="ParametersSet">
    <xs:sequence>
      <xs:element ref="parameter" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="Parameters"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="schema" type="Schema"/>

  <xs:complexType name="Schema">
    <xs:complexContent>
      <xs:extension base="Link">
        <xs:sequence>
          <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="rsdl" type="RSDL"/>

  <xs:complexType name="RSDL">
     <xs:sequence>
       <xs:element name="description" type="xs:string" minOccurs="0"/>
       <xs:element ref="version" minOccurs="0" maxOccurs="1" />
       <xs:element ref="schema" minOccurs="0" maxOccurs="1" />
       <xs:element type="DetailedLinks" name="links" minOccurs="0"/>
     </xs:sequence>
     <xs:attribute name="href" type="xs:string"/>
     <xs:attribute name="rel" type="xs:string"/>
  </xs:complexType>

</xs:schema>
